@media (max-width:414px) {
    .Fonctionnement_Card {
        margin: 2% auto 2% auto;
        width: 90%;
    }
    .Carte_Restaurants {
        width: 90%;
        margin: 5% auto 5% auto;
    }
    .Carte_Restaurants_Coeur {
        margin-left: 75%;
    }
    .Carte_Restaurants_Popup {
        margin-left: 67%;
    }
}
@media (min-width:800px) {
    .header_Background {
        height: 40%;
        object-fit: cover;
    }
    .Menus {
        margin-top: 325px;
    }
}
@media (min-width:500px) {
    .header_Background {
        height:35%;
        object-fit: cover;
    }
}
