@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA;
$couleur_Tertiaire:#99E2D0;
$couleur_TertiaireSombre:#139273;
body {
    margin-left: 0;
}
a {
    text-decoration: none;
}
/******header *****/
.OhMyFoodLogo {
    display: flex;
    justify-content: center;
}
.container_header {
    background-color: #f5f5f5;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    &_texte {
        text-align: center;
    }
    &_btn {
        background: linear-gradient( #e295cc, $couleur_primaire) ;
        width: 250px;
        height: 50px;
        border-radius: 40px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
    &_mapMakerIcon {
        padding-right: 0.8rem;
        color: rgb(70, 70, 70);
    }
    &_mapMaker {
        background-color: #f0efef;
    }
}


/***** Fonctionnement *****/
.Fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h2 {
        margin-left: 1rem;
    }
    &_Card {
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        height: 60px;
        width: 300px;
        font-size: 1rem;
        border-radius: 20px;
        box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.31);
        margin: 0.5rem;
        margin-left: 2rem;
    }
    &_Card--circle{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem;
        position: relative;
        margin-left: -7px;
        background-color: $couleur_primaire;
        color: white;
        border-radius: 50%;
        height: 15px;
        width: 15px;
    }
    &_Card--fas {
        padding-left: 1rem;
        padding-right: 2rem;
    }
    &_Card:active {
        & .Fonctionnement_Card--fas{
            color: $couleur_primaire;
        }
    }
    &_Card:hover {
        & .Fonctionnement_Card--fas{
            color: $couleur_primaire;
        }
    }
}

/***** Restaurants *****/
.Container_Carte_Restaurants {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    flex-wrap: wrap;
}
.Carte_Restaurants {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 350px;
    margin-top: 1rem;
    border-radius:10px;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.31);
    &_Photo {
        object-fit: cover;
        height: 170px;
        width: 350px;
    }
    &_TexteSousImage {
        display: flex;
        align-items: center;
        background-color: white;
        padding-left: 1rem;
    }
    &_Coeur {
        position: absolute;
        margin-left: 300px;
        font-size: 1.4rem;
    }
    &_Popup {
        background-color: $couleur_Tertiaire;
        color: $couleur_TertiaireSombre;
        width: 70px;
        text-align: center;
       position: absolute;
       margin-left: 270px;
       margin-top: 1rem;
       border-radius: 3px;
    }
    
}
.bold {
    font-weight: bold;
    color: black;
}
.La_note_enchantée {
    object-position: 40% 60%;
}
.A_la_Francaise {
    object-position: 10% 90%;
}
/***** Footer *****/ 
footer {
    background-color: #353535;
}
.Footer {
    margin-left: 1rem;
    color: white;
    & a {
        color: white;
    }
    & p {
        padding-left:1.5rem;
        cursor:pointer;
    }
    &_Couverts {
        display: flex;
        align-items: center;
    }
    &_Couverts p {
        padding-left: 0.5rem;
    }
    &_Partenaire {
        display: flex;
        align-items: center;
    }
    &_Partenaire p {
        padding-left: 0.3rem;
    }
    &_Logo {
        margin-top: 1rem;
        color: white;
    }
    &_TexteBas {
        padding-bottom: 1rem;
    }
}
/***** A la Française *****/ 
.fa-arrow-left {
    color: black;
    margin-right: 6rem;
}
.OhMyFoodLogoMenu {
    margin-right: 6rem;
}
.A_la_Francaise {
    background-color: #f6f6f6;
    border-radius:40px 40px 0 0;
    width: 375px;
    position: absolute;
    top: 250px;
    &_Titre {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }
    &_Coeur {
        margin-left: 10rem;
        font-size: 1.3rem;
    }
}

.Card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding-left: 1rem;
    border-radius: 13px;
    cursor: pointer;
    box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.31);
    &_Titre {
        margin-left: 1rem;
        border-bottom: solid 2px $couleur_Tertiaire;
        width: 50px;
        text-transform: uppercase;
    }
}
.Card_TitrePlats {
    margin-left: 1rem;
    border-bottom: solid 2px $couleur_Tertiaire;
    width: 40px;
    text-transform: uppercase;
}
.Card_Anime {
    background-color: $couleur_Tertiaire;
    width: 60px;
    height: 70px;
    border-radius: 0 13px 13px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform:translateX(100px);
    & .fa-check-circle {
        transform: rotateX(0turn);
    }
}
.Card {
    &:active {
        .Card_Anime {
            transform: translateX(0px);
            transition: transform 0.4s;
        }
    }
}



