@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
/*Réglages de base */
body {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

h2 {
  font-weight: bold;
}

.Menus_Titre h2 {
  font-family: 'Shrikhand';
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/***** Loading Spinner *****/
#loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-align: center;
  z-index: 3;
  background-color: #9356DC;
  height: 100vh;
  width: 100%;
  cursor: wait;
  -webkit-animation: loading 2s forwards;
          animation: loading 2s forwards;
}

#loading_Spinner {
  border: 3px solid #8f8f8f;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  border-top-color: #ffff;
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
}

#loading_Circle {
  padding-top: 2rem;
}

#loading_Titre {
  color: white;
  font-size: 2rem;
}

@-webkit-keyframes loading {
  to {
    visibility: hidden;
  }
}

@keyframes loading {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes circle {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circle {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#loading_Circle > div {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffff;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: circle 1.5s infinite ease-in-out both;
          animation: circle 1.5s infinite ease-in-out both;
}

#loading_Circle #Circle1 {
  -webkit-animation-delay: -0.30s;
          animation-delay: -0.30s;
}

#loading_Circle #Circle2 {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

/* Responsive Loading Spinner */
@media (max-width: 400px) {
  #loading_Titre {
    font-size: 1.5rem;
  }
  #loading_Circle {
    font-size: 1.5rem;
  }
  #loading_Spinner {
    width: 5rem;
    height: 5rem;
  }
}

/******header *****/
.OhMyFoodLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_header {
  background-color: #f5f5f5;
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header_Texte {
  padding: 1rem;
}

.header_btn {
  background: -webkit-gradient(linear, left top, right bottom, from(#e772da), to(#9356DC));
  background: linear-gradient(to bottom right, #e772da, #9356DC);
  width: 250px;
  height: 50px;
  border-radius: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
}

.header_mapMakerIcon {
  padding-right: 0.8rem;
  color: #464646;
}

.header_mapMaker {
  background-color: #f0efef;
  -webkit-box-shadow: inset 0px 4px 5px -4px #646464;
          box-shadow: inset 0px 4px 5px -4px #646464;
}

/* Responsive header background */
@media (min-width: 500px) {
  .header_Background {
    height: 25%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 800px) {
  .header_Background {
    -o-object-position: 65%;
       object-position: 65%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Menus {
    margin-top: 325px;
  }
}

/***** Fonctionnement *****/
.Fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Fonctionnement h2 {
  margin-left: 1rem;
}

.Fonctionnement_Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  height: 60px;
  width: 300px;
  font-size: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.31);
          box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.31);
  margin: 0.5rem;
}

.Fonctionnement_Card--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  position: relative;
  margin-left: -7px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  height: 17px;
  width: 17px;
}

.Fonctionnement_Card--fas {
  padding-left: 1rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  color: grey;
}

.Fonctionnement_Card:hover .Fonctionnement_Card--fas {
  color: #9356DC;
}

.Fonctionnement_Card:hover .Fonctionnement_Card--fas {
  color: #9356DC;
}

.coeur-plein {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#e772da));
  background: linear-gradient(#9356DC, #e772da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
}

.coeurs-menus {
  right: 40px;
}

.Carte_Restaurants_Coeur:hover:hover > .coeur-vide {
  opacity: 0;
}

.Carte_Restaurants_Coeur:hover:hover > .coeur-plein {
  opacity: 1;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.fa-arrow-right {
  font-size: 30px;
}

/* Fonctionnement responsive */
@media (min-width: 1146px) {
  .Fonctionnement {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Fonctionnement_Card {
    margin: 3rem 1rem 3rem 2rem;
  }
}

/***** Restaurants *****/
.Container_Carte_Restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Container_Carte_Restaurants_h2 {
  background-color: #f5f5f5;
  margin-bottom: 0;
  padding-left: 3rem;
}

.Carte_Restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 350px;
  margin-top: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.31);
          box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.31);
}

.Carte_Restaurants_Photo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 170px;
}

.Carte_Restaurants_TexteSousImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding-left: 1rem;
}

.Carte_Restaurants_Coeur {
  position: absolute;
  margin-left: 300px;
  font-size: 1.5rem;
}

.Carte_Restaurants_Popup {
  background-color: #99E2D0;
  color: #139273;
  width: 70px;
  text-align: center;
  position: absolute;
  margin-left: 260px;
  margin-top: 1rem;
  border-radius: 3px;
  padding: 5px;
}

.Carte_Restaurants_bold {
  font-weight: bold;
  color: black;
}

.Carte_Restaurants_Texte {
  font-size: 18px;
}

/* Responsive Restaurants */
@media (max-width: 350px) {
  .Carte_Restaurants {
    width: 300px;
    height: 240px;
  }
  .Carte_Restaurants_Popup {
    margin-left: 220px;
  }
  .Carte_Restaurants_Coeur {
    margin-left: 250px;
  }
}

@media (max-width: 414px) {
  .Fonctionnement_Card {
    margin: 2% auto 2% auto;
    width: 90%;
  }
  .Carte_Restaurants {
    width: 90%;
    margin: 5% auto 5% auto;
  }
  .Carte_Restaurants_Coeur {
    margin-left: 75%;
  }
  .Carte_Restaurants_Popup {
    margin-left: 64%;
  }
}

@media (min-width: 768px) {
  .Carte_Restaurants {
    margin: 1rem;
  }
}

@media (min-width: 1366px) {
  .Carte_Restaurants {
    width: 550px;
    height: 350px;
  }
  .Carte_Restaurants_Photo {
    width: 550px;
    height: 270px;
  }
  .Carte_Restaurants_Popup {
    margin-left: 460px;
  }
  .Carte_Restaurants_Coeur {
    margin-left: 480px;
  }
}

/***** Footer *****/
.Footer_Logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.Footer {
  padding-left: 1rem;
  background-color: #353535;
  color: white;
}

.Footer a {
  color: white;
}

.Footer p {
  padding-left: 1.5rem;
  cursor: pointer;
}

.Footer_Couverts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer_Couverts p {
  padding-left: 0.5rem;
}

.Footer_Partenaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer_Partenaire p {
  padding-left: 0.3rem;
}

.Footer_Logo {
  margin-top: 1rem;
  color: white;
}

.Footer_TexteBas {
  padding-bottom: 1rem;
}

/***** Pages *****/
.Entrées, .Plats, .Desserts {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Card {
  -webkit-animation: refresh 1s;
          animation: refresh 1s;
}

.Card:hover {
  -webkit-box-shadow: -1px -1px 8px rgba(110, 110, 110, 0.8);
          box-shadow: -1px -1px 8px rgba(110, 110, 110, 0.8);
}

@-webkit-keyframes refresh {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes refresh {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header_Arrow {
  position: absolute;
  left: 2px;
  color: black;
}

.header_texte {
  text-align: center;
  width: 250px;
  margin-left: 4rem;
}

.header_Background {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.Menus {
  z-index: 1;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  width: 100%;
  margin-top: 210px;
}

.Menus_Titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem;
}

.Menus_Coeur {
  font-size: 1.3rem;
}

/* Responsive menus */
@media (max-width: 375px) {
  .Menus {
    margin-top: 160px;
  }
}

@media (max-width: 330px) {
  .Menus h2 {
    font-size: 1.3rem;
  }
  .fa-heart {
    font-size: 1.4rem;
  }
  .coeur-plein {
    top: 3px;
  }
}

/* Cartes */
.Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 85%;
  height: 70px;
  margin: 3% auto 3% auto;
  padding-left: 1rem;
  border-radius: 13px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.31);
          box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.31);
}

.Card_Titre {
  margin-left: 1rem;
  border-bottom: solid 2px #99E2D0;
  width: 50px;
  text-transform: uppercase;
}

.Card_bold {
  font-weight: bold;
  font-size: 18px;
}

.Card_prix {
  font-weight: bold;
  font-size: 17px;
  padding: 2rem 2rem 0 0.5rem;
}

.Card p {
  width: 100%;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Card_TitrePlats {
  margin-left: 1rem;
  border-bottom: solid 2px #99E2D0;
  width: 40px;
  text-transform: uppercase;
}

.fa-heart:hover {
  cursor: pointer;
}

.Card_hidden {
  background-color: #99E2D0;
  width: 0px;
  height: 70px;
  border-radius: 0 10px 10px 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-check-circle {
  color: white;
  font-size: 25px;
}

.Card:hover .Card_hidden {
  -webkit-animation: hidden 1s;
          animation: hidden 1s;
}

.Card:hover .fa-check-circle {
  -webkit-animation: rotate 800ms;
          animation: rotate 800ms;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes hidden {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 100px;
  }
}

@keyframes hidden {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 100px;
  }
}

/* Responsive Card */
@media (max-width: 330px) {
  .Carte_Restaurants_Texte {
    font-size: 17px;
  }
}

@media (max-width: 375px) {
  .Card p {
    font-size: 13px;
  }
  .Card_bold {
    font-size: 17px;
  }
  .Card_prix {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .Card {
    width: 93%;
  }
}

.Commande_btn {
  background: -webkit-gradient(linear, left top, right bottom, from(#e772da), to(#9356DC));
  background: linear-gradient(to bottom right, #e772da, #9356DC);
  width: 250px;
  height: 50px;
  border-radius: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 8% auto 8% auto;
}
/*# sourceMappingURL=styles.css.map */